@media screen and (max-width: 600px) {
    nav {
        box-shadow: 1px 1px 1px 1px #ccc;
    }

    #notes {
        font-size: small;
    }

    #submitButton {
        margin: 0 !important;
    }

    #quote {
        font-size: small;
        margin: 0;
    }
}